Django==5.2.6
djangorestframework==3.16.1
mysqlclient==2.2.7
python-dotenv==1.1.1
django-cors-headers==4.8.0
reportlab==4.4.3
xhtml2pdf==0.2.17
openpyxl==3.1.5
pandas==2.3.2
matplotlib==3.10.6
drf-spectacular==0.28.0
celery==5.5.3
redis==6.4.0
django-rest-knox==5.0.2
channels==4.3.1
channels-redis==4.3.0
whitenoise==6.10.0
gunicorn==23.0.0